<!--
<h1>Listing events</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
-->

<%=
=begin
    render :partial => 'shared/header',
           :object => @current_user,
           :locals => {:quick_start=>@documents.quick_start,
                       :full_manual=>@documents.full_manual,
                       :support_email=>@documents.support_email,
                       :support_phone=>@documents.support_phone}
=end
%>

<%= render :partial => 'shared/header', :object=>@current_user %>
<div id="main">
  <%= render :partial => 'left_navigation' %>
  <%= render :partial => 'right_content' %>
</div>

