<!DOCTYPE html>
<html>
<head>
  <link type="image/x-icon" href="img/logo.png" rel="icon">
  <title>Login - Dadhboard</title>
  <!--<%= stylesheet_link_tag    "application", :media => "all" %>-->
  <!--<%= javascript_include_tag "application" %>-->
  <%= stylesheet_link_tag 'sessions', :cache => "all" %>
  <%= javascript_include_tag 'jquery', 'rails', 'sessions', :cache => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
